{% extends "layout.html" %}

{% block body %}
<P CLASS="bar">Updated at {{ refreshed_at }} <SPAN CLASS="gap"><A HREF="/users/new">New user</A></SPAN></P>

<TABLE ID="users" WIDTH="100%">
  <TR>
    <TH>Level</TH>
    <TH>Company</TH>
    <TH>Group</TH>
    <TH>User</TH>
    <TH>Password</TH>
    <TH>Authority</TH>
    <TH>Quota</TH>
    <TH>Used</TH>
  </TR>
  {% for account in accounts %}
  <TR CLASS="{{ account.level }}">
    <TD>{{ account.level }}</TD>
    <TD>{{ account.company }}</TD>
    <TD>{{ account.group }}</TD>
    <TD>{{ account.user }}</TD>
    <TD>{{ account.password }}</TD>
    <TD>{{ account.authority }}</TD>
    <TD CLASS="num">{{ account.quota }}</TD>
    <TD CLASS="num">{{ account.used }}</TD>
  </TR>
  {% endfor %}
</TABLE>
{% endblock %}
